---
import logoStellar from '../assets/logos/logo.svg';
---
<header id="header" class="text-center py-20">
  <span class="inline-block w-20 mb-4">
    <img src={logoStellar.src} alt="Logo" class="w-full" />
  </span>
  <h1 class="text-5xl font-bold">Stellar</h1>
  <p class="text-slate-400 mt-4">
    Just another free, fully responsive site template built by <a href="#" class="underline">@ajlkn</a>.
	<br />Pero modificado y pasado a Astro por <a href="#" class="underline">@angelsbcode</a>.
  </p>
</header>