---
---
<nav id="nav" class="sticky top-0 bg-slate-800 z-50 py-4 shadow-xl">
  <ul class="flex justify-center gap-8">
    <li><a href="#intro" class="hover:text-blue-400">Introduction</a></li>
    <li><a href="#first" class="hover:text-blue-400">First Section</a></li>
    <li><a href="#second" class="hover:text-blue-400">Second Section</a></li>
    <li><a href="#cta" class="hover:text-blue-400">Get Started</a></li>
  </ul>
</nav>

<script>

</script>